/**
 * CONTENTS
 *
 * SETTINGS
 * Global...............Globally-available variables and config
 *
 * BASE
 * Resets...............Resetting HTML and BODY
 * Anchors..............Links in general and with external targets
 * Paragraphs...........Text, font and positioning
 * Headings.............H1–H2 styles
 * Ordered Lists........
 *
 * HELPERS
 * Container............Wrapping and constraining elements
 * Flex.................Flexbox support
 * Lists................Arranging lists in different orientation
 *
 * COMPONENTS
 * Page-head............The main page header
 * Page-menu............The main page navigation
 * Page-main............The main page content
 * Page-footer..........The main page footer
 * Breadcrumb...........The main page footer
 *
 * TRUMPS
 * Text.................Text helpers
 */

/*---------------------------------------------------------------------------*\
  #SETTINGS
\*---------------------------------------------------------------------------*/

$color-primary: #f2545b;
$color-primary-light: #f58287;
$color-primary-lighter: #f4e0de;

$color-secondary: #eda257;
$color-secondary-light: #eda257;
$color-secondary-lighter: #eda257;

$color-gray-dark: #19323c;
$color-gray: #303e44;
$color-gray-light: #5f6466;

$color-background: #f3f7f0;
$color-text: $color-gray-dark;
$color-text-inverse: #f9fbf8;

$font-size: 1rem;
$font-size-small: 0.6 * $font-size;

$transition: all 120ms ease-in;

$spacer: 1rem;

/*---------------------------------------------------------------------------*\
  #BASE
\*---------------------------------------------------------------------------*/

body,
html {
  margin: 0;
  padding: 0;
}

body {
  background: $color-background;
  color: $color-text;
  font-family: monospace;
  font-size: $font-size;
}

a {
  color: $color-primary;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: $transition;

  &:hover,
  &:focus {
    border-color: $color-primary-light;
  }

  &[href^="http"] {
    &:after {
      content: " →";
    }
  }
}

h1,
h2,
h3,
h4 {
  max-width: 80%;
  margin-top: 2 * $spacer;
}

p {
  line-height: 150%;
}

ol {
  li {
    margin-bottom: 0.5 * $spacer;
  }
}

/*---------------------------------------------------------------------------*\
  #HELPERS
\*---------------------------------------------------------------------------*/

.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 $spacer;
}

/**
 * The flex class is supposed to be used in two different orientations:
 * 
 * 1. Rows (by default)
 * 2. Columns
 * 
 * Regardless of the orientation every flex child has a specified gap to the
 * next element. Therefore the wrapper class `.flex` has to be margined by a 
 * corresponding *negative* value.
 */

.flex {
  display: flex;
  /* [1] */
  flex-flow: row;
  margin: 0 (-$spacer * 0.5);

  /* [2] */
  &--column {
    flex-flow: column;
  }

  &--column &__item {
  }

  &__item {
    padding: 0 ($spacer * 0.5);
  }
}

/**
 * Lists are in general unstyled and come in two different orientations:
 * 
 * 1. Vertical (by default)
 * 2. Horizontal
 * 
 * Most lists will have links inside, so the links are styled without
 * any other class.
 */

.list {
  display: flex;
  /* [1] */
  flex-flow: column;
  margin: 0;
  padding: 0;

  &__item {
    list-style-type: none;
    white-space: nowrap;

    a {
      display: block;

      &:hover,
      &:focus {
        color: $color-primary-light;
      }
    }
  }

  /* [2] */
  &--horizontal {
    flex-flow: row;
  }

  &--horizontal &__item {
    display: flex;

    &:not(:nth-child(1)) {
      &:before {
        content: "›";
        display: inline-block;
        margin: 0 (0.5 * $spacer);
      }
    }
  }

  &--menu &__item {
    a {
      border: none;
      padding: 0.5rem 0;

      &:hover,
      &:focus {
        // background: $color-primary-lighter;
      }
    }
  }

  &--menu &__item {
    &.list__item--active {
      font-weight: bold;
    }
  }

  &--sub-menu {
    margin-left: 1.5 * $spacer;
  }

  &--sub-menu &__item {
    &.list__item--active {
      a {
        &:before {
          opacity: 1;
          transform: scale(2);
        }
      }
    }

    a {
      position: relative;

      &:before {
        position: absolute;
        left: -$spacer;
        content: "·";
        opacity: 0;
        transition: $transition;
      }

      &:hover,
      &:focus {
        &:before {
          opacity: 1;
          transform: scale(2);
        }
      }
    }
  }
}

/*---------------------------------------------------------------------------*\
  #COMPONENTS
\*---------------------------------------------------------------------------*/

.page-head {
  margin-bottom: 2rem;

  background: $color-primary;
  background-image: linear-gradient(160deg, $color-primary, $color-secondary);
  color: $color-text-inverse;

  &__link {
    display: block;
    padding: 1rem 0;
    color: $color-text-inverse;
    // text-decoration: none;

    &:hover,
    &:focus {
      opacity: 0.75;
    }
  }

  span {
    font-weight: bold;
  }
}

.page-menu {
  min-width: 16rem;
  margin-right: $spacer;

  &__title {
    font-size: $font-size-small;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    margin-bottom: $spacer;
  }

  &__list {
    margin: $spacer 0 (2 * $spacer);
  }
}

.page-main {
  &__footer {
    margin: (2 * $spacer) 0;
    padding: (0.5 * $spacer) 0;

    opacity: 0.75;
    border-top: 1px solid $color-text;

    font-size: $font-size-small;
  }

  a {
    font-weight: bold;
  }
}

.breadcrumb {
  a {
    border-bottom: 1px solid $color-primary-light;
    font-weight: normal;
  }
}

/*---------------------------------------------------------------------------*\
  #TRUMPS
\*---------------------------------------------------------------------------*/

.text {
  &--small {
    font-size: $font-size-small !important;
  }

  &--center {
    text-align: center !important;
  }

  &--gray {
    color: $color-gray !important;
  }
}
